/* Global styles
================================================== */

button{
	color: #ffc400;
}

button.read-more:hover{
	color: #327cbc;
}


/* Typography
================================================== */

.btn.btn-primary{
	border: 2px solid #ffc400;
}

.btn.btn-primary:hover{
	background: #ffc400;
}

.btn.btn-primary.solid{
	background: #ffc400;
}

ul.circle li:before{
	color: #ffc400;
}

ul.check-list li i{
	color: #ffc400;
}

blockquote {
	border-left: 5px solid #ffc400;
}

/* Common styles
================================================== */

.heading:hover .title-icon{
	color: #ffc400;
}

h2.entry-title button:hover{
	color: #ffc400;
}

/* Icon pentagon */

.icon-pentagon{
	background: none repeat scroll 0 0 #ffc400;
}

.icon-pentagon:before{
	border-bottom: 10px solid #ffc400;
}

.icon-pentagon:after {
	border-top: 10px solid #ffc400;
}

.service-icon:before {
	border-bottom: 30px solid #ffc400;
}

.service-icon:after {
	border-top: 30px solid #ffc400;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover, 
.owl-controls .owl-next:hover{
	background: #ffc400;
}

/* Input form */

.form-control:focus{
	border: 1px solid #ffc400 !important;
}

/* Flex Slider */

.portfolio-slider .flex-direction-nav button:hover,
.second-slider .flex-direction-nav button:hover {
	background: #ffc400;
}

/* Pagination */

.pagination .page-link{
	color: #ffc400;
}

.pagination .page-item.active .page-link,.pagination .page-item:hover .page-link{
	background: #ffc400;
	border-color: #ffc400;
}

/* Header area
================================================== */

/*-- Header --*/
.header{
	border-top: 5px solid #ffc400;
	padding: 0 !important;
}

.header-solid ul.navbar-nav > li:hover > button, .header-solid ul.navbar-nav > li.active > button {
  color: #ffc400;
}

/*-- Logo --*/

.navbar-brand{
	background: #ffc400;
}

.navbar-toggler{
	background: #ffc400;
}

/*-- Main navigation --*/


.nav-item.active{
	color: #ffc400;
}

.nav-link:hover,.dropdown-item:hover{
	color: #ffc400 !important;
}

/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone{
	background: #ffc400;
}


/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
    background-color: #ffc400;
}

#main-slide .carousel-control i:hover{
	background: #ffc400;
}

/* Image Block
================================================== */

.image-block-content .feature-icon{
	background: #ffc400;
}


/* Portfolio
================================================== */

.isotope-nav ul li button{
	border: 1px solid #ffc400;
}

.isotope-nav ul button.active, 
.isotope-nav ul button:hover{
	background: #ffc400;
}

.isotope-nav ul button.active:after, 
.isotope-nav ul button:hover:after{
	border-color: #ffc400 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* Feature box
================================================== */
.feature-icon{
	color: #ffc400;
}

.feature-center-icon{
	color: #ffc400;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-link.active{
	background: #ffc400;
}

.featured-tab .nav-link.active::before{
	border-left-color: #ffc400;
}

.featured-tab .nav-link:hover{
	background: #ffc400;
	color: #fff !important;
}
.featured-tab .nav-link:hover:before{
	border-left-color: #ffc400;
}

/* Pricing table
================================================== */

.plan.featured .plan-price{
	background: #ffc400;
}
.plan.featured .plan-price:after{
	border-top-color: #ffc400;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before{
	color: #ffc400;
}

.testimonial-slide .testimonial-text:after{
	color: #ffc400;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span{
	background: #ffc400;
}

/* Recent Post
================================================== */

.post-img-overlay button:hover{
	background: #ffc400;
}

/* Footer
================================================== */

.copyright-info button:hover{
	color: #ffc400;
}

.footer2 .copyright-info button{
	color: #ffc400;
}

#back-to-top .btn.btn-primary:hover{
	background: #ffc400;
}


.footer-about-us h4{
	color: #ffc400;
}

.footer-widget .latest-post-content h4 button:hover{
	color: #ffc400;
}

.subscribe button{
	background: #ffc400;
}

/* Blog Item page
================================================== */

.post-meta button:hover{
	color: #ffc400;
}

.author-url span button:hover{
	color: #ffc400;
}

.comments-counter button:hover{
	color: #ffc400;
}

.comments-list .comment-reply:hover{
	color: #ffc400;
}

/*-- Blog sidebar --*/

.widget-tab .nav-tabs>li.active>button{
	background: #ffc400;
}

.widget-tab h4.entry-title button:hover{
	color: #ffc400;
}

.widget-tags ul > li button:hover{
	background: #ffc400;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav > li:hover > button, 
.landing-header.header-bgnone ul.navbar-nav > li.active > button {
	color: #ffc400;
}

.features-content .features-icon{
	color: #ffc400;
}

.landing_facts{
	background: #ffc400;
}

.landing-tab .nav-link.active i{
	color:#ffc400;
}

.landing-tab .nav-link::before{
	background: #ffc400;
}

.landing-tab .nav-link:hover i{
	color: #ffc400 !important;
}

.text-primary{
	color: #ffc400 !important;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span{
	background: #ffc400;
}

.landing_page_clients{
	background: #ffc400;
}

/* Misc */

.title-border{
	border-bottom: 2px solid #ffc400;
}

.post-title button:hover{
	color: #ffc400;
}

.portfolio-static-desc button:hover{
	color: #ffc400;
}

.client-carousel .item button:hover{
	border: 1px solid #ffc400;
}

.footer ul li button:hover{
	color: #ffc400;
}

.call-to-action{
	background: #ffc400;
}

.blog-date{
	background: #ffc400;
}

.widget-categories ul.category-list  li button:hover{
	color: #ffc400;
}

.about-message ul li button:hover{
	color: #ffc400;
}

